.container-layout{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: #3f3f3f;
}
.container-navbar{
    position: fixed;
    display: block;
    height: 100vw;
    width: calc(2/12*100%);
    background-color: var(--bs-gray-900);
    color: var(--light);
    overflow: auto;
    padding: 0 20px;
    border-right: solid 3px var(--bs-border-color-translucent);
}
.navbar-logo{
    margin: 20px 0px;
    width: 100%;
    height: 20vh;
}
.image-logo{
    width: 100%;
    height: auto;

}
.container-content{
    position: relative;
    margin-left: calc(2/12*100%);
    width: calc(10/12*100%);
    background-color: var(--bs-gray-300);
    height: 100vh;
}
.list-navbar{
    margin: 10px 0 0 0;
    margin-top: 10px;

}
.navbar{
    position: relative;
    margin-top: 5vh;
}
.navbar-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    cursor: pointer;
}
.nav-link{
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
/* .nav-link:hover{
    background-color: var(--bs-gray-800);
} */
.text-disabled{
    color: var(--bs-gray-600);
    margin-left: 10px;
}

.navbar-sub{
    background-color: var( --bs-gray-300);
    border-radius: 12px;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    display: none;
    height: 0;
}
.navbar-sub.show{
    display: block;
    height: 300px;
    max-height: 300px;
}
div > span > ul{
    gap :0px !important;
}
.font-link {
    color:var(--bs-gray-900);
    margin-left: 20px;
}
.font-link.active{
    color:var(--bs-gray-600);
}
.font-link:hover{
    color: var(--bs-gray-600);
}

nav > ul > hr{
    border: 1px solid var(--bs-gray-700);
}
